.style33 {
	//color: #FF5733;
	color: #e81900;
}

.style32 {
	color: #fff59e;
}

.style30 {
	color: #ffffff;
}

.style20 {
	font-family: 'LincolnMITRE-LM5x7', Verdana, Arial, Helvetica, sans-serif;
	//font-size: 28px;
}

.style232 {
	color: #fffc5f;
	text-decoration: none;
	font-family: 'LincolnMITRE-LM5x7', Verdana, Arial, Helvetica, sans-serif !important;
}

.style20.style30 {
	text-align: -webkit-left;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}