.header {
	position: fixed;
	z-index: 10;
	right: calc($frame-padding*2);
	top: calc($frame-padding*2);
	//mix-blend-mode: difference;
}

.header__title {
	font-size: 10rem;
	font-family: $bosch;
	margin: -0.1em 0 0 -0.04em;
	font-weight: 200;
	text-transform: uppercase;
	color: #0b0b0b;
}

.home__link {
	position: fixed;
	z-index: 10;
	left: calc($frame-padding*2);
	top: calc($frame-padding*2);
	//mix-blend-mode: difference;
}

.home__link__title {
	font-size: 4rem;
	font-family: $bosch;
	margin: -0.1em 0 0 -0.04em;
	font-weight: 200;
	text-transform: lowercase;
	color: #0b0b0b;
}

.home__link__title a {
	text-decoration: none;
	color: #0b0b0b;
}