extends ../../base.pug

block content
	.page
		.background
		.frame
			.frame__line.frame__line__left
			.frame__line.frame__line__right
			.frame__line.frame__line__top
			.frame__line.frame__line__bottom
		.header
			.header__title
				h1 Debt