$color-white: #fff;
$color-black: #000;
$color-lime: lime;
$raw-sienna: #b85e00;
$apricot-yellow: #ffe600;
$benzol-green: #00d973;
$deep-lyons-blue: #0024cc;

$bosch: 'bosch';
$mirage: 'solide_miragemono';
$montchauve: 'montchauvemedium';
$vg5000: 'VG5000';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'navigation',
  'content'
);

$frame-padding: max(20px, 4vmin);