$color-white: #fff;
$color-black: #000;
$color-lime: lime;

$bosch: 'bosch';
$LincolnMITRE: 'LincolnMITRE-LM5x7';


$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'navigation',
  'content'
);

$frame-padding: max(20px, 4vmin);