html {
  background: whitesmoke;
  color: black;
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  overflow: hidden;
  position: fixed;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}
body {
  position: fixed;
}