@font-face {
	font-family: 'bosch';
	src: url('../fonts/bosch.eot');
	src: url('../fonts/bosch.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/bosch.woff2') format('woff2'),
			 url('../fonts/bosch.woff') format('woff'),
			 url('../fonts/bosch.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montchauvemedium';
	src: url('../fonts/montchauve-webfont.eot');
	src: url('../fonts/montchauve-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/montchauve-webfont.woff2') format('woff2'),
			 url('../fonts/montchauve-webfont.woff') format('woff'),
			 url('../fonts/montchauve-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'solide_miragemono';
	src: url('../fonts/solidemirage-mono-webfont.eot');
	src: url('../fonts/solidemirage-mono-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/solidemirage-mono-webfont.woff2') format('woff2'),
			 url('../fonts/solidemirage-mono-webfont.woff') format('woff'),
			 url('../fonts/solidemirage-mono-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VG5000';
	src:    url('../fonts/VG5000-Regular_web.eot');
	src:    url('../fonts/VG5000-Regular_web.eot?#iefix') format('embedded-opentype'),
					url('../fonts/VG5000-Regular_web.woff') format('woff'),
					url('../fonts/VG5000-Regular_web.woff2') format('woff2'),
					url('../fonts/VG5000-Regular_web.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'basaltefond';
	src: url('../fonts/basalte-fond-webfont.eot');
	src: url('../fonts/basalte-fond-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/basalte-fond-webfont.woff2') format('woff2'),
			 url('../fonts/basalte-fond-webfont.woff') format('woff'),
			 url('../fonts/basalte-fond-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'basaltemulticolor';
	src: url('../fonts/basalte-multicolor-webfont.eot');
	src: url('../fonts/basalte-multicolor-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/basalte-multicolor-webfont.woff2') format('woff2'),
			 url('../fonts/basalte-multicolor-webfont.woff') format('woff'),
			 url('../fonts/basalte-multicolor-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'basaltevolume';
	src: url('../fonts/basalte-volume-webfont.eot');
	src: url('../fonts/basalte-volume-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/basalte-volume-webfont.woff2') format('woff2'),
			 url('../fonts/basalte-volume-webfont.woff') format('woff'),
			 url('../fonts/basalte-volume-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'directorbold';
	src: url('../fonts/director-bold-webfont.eot');
	src: url('../fonts/director-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/director-bold-webfont.woff2') format('woff2'),
			 url('../fonts/director-bold-webfont.woff') format('woff'),
			 url('../fonts/director-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'directorlight';
	src: url('../fonts/director-light-webfont.eot');
	src: url('../fonts/director-light-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/director-light-webfont.woff2') format('woff2'),
			 url('../fonts/director-light-webfont.woff') format('woff'),
			 url('../fonts/director-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'directorregular';
	src: url('../fonts/director-variable-webfont.eot');
	src: url('../fonts/director-variable-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/director-variable-webfont.woff2') format('woff2'),
			 url('../fonts/director-variable-webfont.woff') format('woff'),
			 url('../fonts/director-variable-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'equateurregular';
	src: url('../fonts/equateur-regular-webfont.eot');
	src: url('../fonts/equateur-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/equateur-regular-webfont.woff2') format('woff2'),
			 url('../fonts/equateur-regular-webfont.woff') format('woff'),
			 url('../fonts/equateur-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ft88bold';
	src: url('../fonts/ft88-bold-webfont.eot');
	src: url('../fonts/ft88-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ft88-bold-webfont.woff2') format('woff2'),
			 url('../fonts/ft88-bold-webfont.woff') format('woff'),
			 url('../fonts/ft88-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ft88expanded';
	src: url('../fonts/ft88-expanded-webfont.eot');
	src: url('../fonts/ft88-expanded-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ft88-expanded-webfont.woff2') format('woff2'),
			 url('../fonts/ft88-expanded-webfont.woff') format('woff'),
			 url('../fonts/ft88-expanded-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ft88gothique';
	src: url('../fonts/ft88-gothique-webfont.eot');
	src: url('../fonts/ft88-gothique-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ft88-gothique-webfont.woff2') format('woff2'),
			 url('../fonts/ft88-gothique-webfont.woff') format('woff'),
			 url('../fonts/ft88-gothique-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'abordageregular';
	src: url('../fonts/abordage-regular-webfont.eot');
	src: url('../fonts/abordage-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/abordage-regular-webfont.woff2') format('woff2'),
			 url('../fonts/abordage-regular-webfont.woff') format('woff'),
			 url('../fonts/abordage-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'louiseregular';
	src: url('../fonts/louise-regular-webfont.eot');
	src: url('../fonts/louise-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/louise-regular-webfont.woff2') format('woff2'),
			 url('../fonts/louise-regular-webfont.woff') format('woff'),
			 url('../fonts/louise-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ft88regular';
	src: url('../fonts/ft88-regular-webfont.eot');
	src: url('../fonts/ft88-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ft88-regular-webfont.woff2') format('woff2'),
			 url('../fonts/ft88-regular-webfont.woff') format('woff'),
			 url('../fonts/ft88-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ft88school';
	src: url('../fonts/ft88-school-webfont.eot');
	src: url('../fonts/ft88-school-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ft88-school-webfont.woff2') format('woff2'),
			 url('../fonts/ft88-school-webfont.woff') format('woff'),
			 url('../fonts/ft88-school-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ft88serif';
	src: url('../fonts/ft88-serif-webfont.eot');
	src: url('../fonts/ft88-serif-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ft88-serif-webfont.woff2') format('woff2'),
			 url('../fonts/ft88-serif-webfont.woff') format('woff'),
			 url('../fonts/ft88-serif-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latituderegular';
	src: url('../fonts/latitude-regular-webfont.eot');
	src: url('../fonts/latitude-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/latitude-regular-webfont.woff2') format('woff2'),
			 url('../fonts/latitude-regular-webfont.woff') format('woff'),
			 url('../fonts/latitude-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}