@font-face {
	font-family: 'bosch';
	src: url('../fonts/bosch.eot');
	src: url('../fonts/bosch.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/bosch.woff2') format('woff2'),
			 url('../fonts/bosch.woff') format('woff'),
			 url('../fonts/bosch.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montchauvemedium';
	src: url('../fonts/montchauve-webfont.eot');
	src: url('../fonts/montchauve-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/montchauve-webfont.woff2') format('woff2'),
			 url('../fonts/montchauve-webfont.woff') format('woff'),
			 url('../fonts/montchauve-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'solide_miragemono';
	src: url('../fonts/solidemirage-mono-webfont.eot');
	src: url('../fonts/solidemirage-mono-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/solidemirage-mono-webfont.woff2') format('woff2'),
			 url('../fonts/solidemirage-mono-webfont.woff') format('woff'),
			 url('../fonts/solidemirage-mono-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VG5000';
	src:    url('../fonts/VG5000-Regular_web.eot');
	src:    url('../fonts/VG5000-Regular_web.eot?#iefix') format('embedded-opentype'),
					url('../fonts/VG5000-Regular_web.woff') format('woff'),
					url('../fonts/VG5000-Regular_web.woff2') format('woff2'),
					url('../fonts/VG5000-Regular_web.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}