extends ../base.pug

block content
	.page
		.background
		.frame
			.frame__line.frame__line__left
			.frame__line.frame__line__right
			.frame__line.frame__line__top
			.frame__line.frame__line__bottom
		.header
			.header__title
				h1 About
		.home__link
			.home__link__title
				a(href='/')
					h1 Home
		.body
			.highlight
				p
					| My name is John Tanguay.
					br
					| I live in New York City.
					br
					| I studied computer science and supply chain management.
					br
					| I often spend my time reading, writing, and watching.
					br
					| You might find most of my interests in the notes section.
					br
					| I use this site as a sandbox for different development projects.
					br
					| My favorite languages are C, SQL, and French.
					br
					| If you see anything wrong with this site, do let me know.
					br
					| If you'd like to discuss any topics on this site, do reach out.