extends ../base.pug

block content
	.page
		.background
		.frame
			.frame__line.frame__line__left
			.frame__line.frame__line__right
			.frame__line.frame__line__top
			.frame__line.frame__line__bottom
		.header
			.header__title
				h1 Notes
			.home__link
				.home__link__title
					a(href='/')
						h1 Home
		- var vals = [1,2,3,4,5,6,7,8];
		- var titles = ["Debt", "Film", "Mets", "Music", "Other", "Projects", "Reading", "SCF"]
		.notes__container
			for n in vals
				a(href='/notes/'+titles[n-1].toLowerCase() onmouseover="setColor();").notes__card
					.notes__card__title=titles[n-1]