extends ../base.pug

block content
	.page
		.home__container__1
			.home__title
				h1 John Tanguay
		.home__container__2
			.home__title
				a(href='/about')
					h1 About
		.home__container__3
			.home__title
				a(href='/notes')
					h1 Notes
		.home__container__4
			.home__title
				a(href='/contact')
					h1 Contact