extends ../base.pug

block content
	p(align = "left" class = "style20 style30")
		span(class="style32") john tanguay
	p(align = "left" class = "style20 style30")
		span(class="style33") contact
		br
		| please don't
	p(align = "left" class = "style20 style30")
		span(class="style33") current location
		br
		| New York City
	p(align = "left" class = "style20 style30")
		span(class="style232") social media dissolves our facts into processes, and our being into perpetual becoming.
	p(align = "left" class = "style20 style30")
		span(class="style33") current work
		br
		| product management at american express
	p(align = "left" class = "style20 style30")
		span(class="style33") past work
		br
		| don't worry about it
	p(align = "left" class = "style20 style30")
		span(class="style33") books i'm reading
		br
		| • to walk alone in the crowd by antonio munoz molina
		br
		| • path to power by robert caro
		br
		| • cinema speculation by quentin tarantino
	p(align = "left" class = "style20 style30")
		span(class="style33") books i've recently completed
		br
		| • devil house by john darnielle
	p(align = "left" class = "style20 style30")
		span(class="style33") movies i've recently seen
		br
		| • walk up (dir. hong sang-soo)